.body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./img/pic9.jpg) center/cover no-repeat fixed;
  /* background-image: url(./pexels-maxime-francis-2246476.jpg);
  background-size: cover;
   */
}
* {
  scroll-behavior: smooth;
}
/* .about {
  background-image: url(https://t4.ftcdn.net/jpg/01/22/14/81/360_F_122148114_5lZy2p3DZx24hIfF7vC76gzklEkq8UX3.jpg);
} */

.title-underline {
  width: 50px;
  height: 3px;
  margin: 0 auto;
  /* background: blue!important; */
}
.maintitle {
  font-family: 'montserrat-semibold', sans-serif;
  /* font-size: 2rem; */
  color: #c83cb9;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.subtitle {
  font-family: 'librebaskerville-bold', serif;
  font-size: 2.8rem;
  line-height: 1.375;
  margin-top: 0;
}
/* .navbar1 {
  position: relative !important;
} */
.card-5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.darkcolor {
  background-color: #000000 !important;
}

.maketransparent {
  background-color: transparent !important;
}

.makefixed {
  position: fixed;
}
.width_30 {
  height: 6vh !important;

  width: 20vh !important;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  border: 2px solid #cfc2cf;
}
.col2 {
  background-color: #f1f1f1 !important;
}
/* .hieght {
  height: 5vh !important;
} */
.prfilepg {
  background-color: rgb(8, 19, 27);
  /* background-color: rgb(17, 26, 32) !important; */
  color: #f1f1f1;
}

.Workpage {
  background-color: rgb(11, 23, 31);
  color: #f1f1f1;
}

/*project*/
.project {
  color: #000000;
}
.Project_img {
  /* width: 330px !important; */
  transition: transform 0.5s;
  height: 300px !important;
  object-fit: scale-down !important;
  margin: -30px 0 !important;
}
.Project_img:hover {
  transform: scale(1, 1.08);
}
/* 
.project_detail {
  margin-bottom: -1vh;
} */

.project_readmore {
  border: none !important;
  color: #c83cb9;
  border-color: white;
  background-color: white;
  /* margin-top: -13vh !important; */
}

.project_Link_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.project_Link_flex > a {
  width: 150px;
  /* border-radius: 0%; */
}

@media screen and (max-width: 680px) {
  .project_Link_flex > a {
    width: 120px;
  }
}
.project:hover {
  transform: scale(1.05);
}
.project {
  transition: transform 1s;
}

.project_Link_flex > a:hover {
  width: 140px;
  transform: scale(1.15);
  background: rgb(88, 15, 76);
}
.project_Link_flex > a {
  transition: transform 0.5s;
}
/*CONTACT*/
.CONTACT {
  background-color: rgb(8, 19, 27);
  color: #f1f1f1;
}
.contact_submit {
  font-size: 18px !important;
  /* font-weight: bold !important; */
}
.contact_sending {
  font-size: 18px !important;
}
.contact_submit:hover {
  transform: scale(1.05);
}
.contactinput {
  background-color: transparent !important;
}
.contactinput {
  color: #cae8ca !important;
}

.profiledetail {
  font-size: 20px;
}
.navbar {
  background-color: black !important;
}
.navbarIcon {
  padding: 0 !important;
  margin: 0 !important;
  width: 50px;
  height: 80px !important;
}

/* .nav-link:active {
  color: red !important;
} */
.nav-link:hover {
  /* border-bottom: 1px solid rgb(88, 15, 76); */
  color: #c83cb9 !important;
}

/*footer*/
.footer {
  background-color: black;
  color: #f1f1f1 !important ;
  /* min-height: 31vh; */
}

.footerIcon {
  padding-bottom: 2vh !important;
  /* margin-bottom: -10vh !important; */
  /* margin-top: -7vh; */
  margin-top: 2vh;
  width: 250px;
  height: 180px !important;
  color: #f1f1f1 !important;
}
.footer_link {
  color: #f1f1f1 !important;
  font-size: 25px;
  font-weight: 550;
  margin-top: 2vh;
  padding: 10px;
  text-decoration: none !important;
}
.footer_link:hover {
  color: #c83cb9 !important;
}

.footer_trademark {
  padding-top: 2vh;
  font-size: 15px !important;
}
